:root{
--primary-text-color: #212121;
--second-color:#4D5AE5;
--primary-background-color:#2E2F42;
--white-color:#FFFFFF;
--button-color:#404BBF;
}


.header{
    border-bottom: 1px solid #E7E9FC;
    padding: 0px;
}

body{
    font-family:'Roboto',sans-serif;
    color: var(--primary-text-color);
    background-color:var(--white-color);
}

.logo{
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

    color:var(--second-color);
    margin-left: 158px;
 
}


.help{
    display: flex;
}

.fulllogo{
    display: flex;
    font-size: 26px;
font-family:'Raleway'  ;
font-weight: 800;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
margin-right: 93px;
color:var(--primary-text-color);



}

.fulllogo:hover{
color: var(--button-color);

}

a {
    text-decoration: none; 
   }
    
   li {
    list-style-type: none; 
   }

   .navigation{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
   }

   .button-target {
    background:var(--second-color); 
    color: #fff; 
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.06em;
width: 169px;
height: 56px;
left: 636px;
top: 428px;
border-radius: 4px;
border-color:var(--second-color);

  }

   .herotext{
    color: var(--white-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.06em;
    padding-top: 215px;
    width: 621px;
    text-align: center;
    
    


   }

   .caption{
    color: #212121;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
letter-spacing: 0.02em;
margin-top: 0px;
margin-bottom: 0px;

   }

.text{
    color: #434455;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
align-content: center;
}

.name{
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: center;
}

.job{
color: #757575;

font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
text-align: center;
}

.tel{
    color: #434455;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    letter-spacing: 0.02em;
    
  
}

.mail{
   color: #434455 ; 
   font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

}

.title{
color: var(--primary-text-color);

font-weight: 700;
font-size: 18px;
line-height: 1.9;
letter-spacing: 0.06em;
}

.sing{
color: #757575;

font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em
}

.maintitle{
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 94px;
    text-transform: capitalize;
}

.adress
{
    color:var(--white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.container{
width: 1158px;
padding: 0 15px;
margin: 0 auto;


}


.main-nav {
    display: flex;
    gap: 40px;
    color: var(--primary-text-color);
        margin: 0;
        padding: 0;
    
}



.item{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--primary-text-color);

}



.itemmain{
    margin-left: 0px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: flex;
    color: var(--primary-text-color);


}



.write{
display: flex;
width: 1158px;
margin: 0px;
padding: 0px;
text-align: center;

}

.foto{
    display: flex;
    gap: 30px;

    
}



.team {
    display: flex;
    list-style: none;
    gap: 24px;
    margin-bottom: 0px;
}

.element{
 
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;

}

.elementmain{
    background-color:var(--white-color);
    border-radius:0px 0px 4px 4px;
}


.buttonportfolio{
    background:#F4F4FD; 
    ; 
    color:var(--primary-text-color); 
    font-weight: 700;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
width: 125px;
height: 38px;
border-radius: 4px;
border-color: #F4F4FD; 
;
margin-left: 30px;
}

.buttonportfolio:hover {
    color:var(--white-color) ;
    background-color:var(--button-color);
    border-color:var(--button-color);
    padding: 2px; 
}


.market{
    display: inline-block;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;

}

.galery{
    flex-basis: calc((100% - 20px) / 3);
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    display: inline-block;
}

.buttonmain{
display: flex;
margin-top: 100px;
justify-content: center;
}


.thing{
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    margin-bottom: 91px;
    margin-top: 51px;
}

.button-target{
 margin-top: 45px;
 
 
}

button:hover{
    background-color: #404BBF;
    border-color: #404BBF;
}


.foundation{
    
    padding-left: 720px;
    padding-right: 720px;

    
    padding-bottom: 300px;
    background-color:var(--primary-background-color);
    
   
}

.contact{
    display: flex;
    gap: 40px;
    margin-left: 332px;
    
}

.vartex{

 display: flex;
 gap: 30px;
height: 72px;
margin: 0;
padding: 0;
width: 1158px;
align-items: center;

}






.brigade{

    margin-top: 91px;

}


.squadt{
margin-left:0px;
margin-top: 94px;

}

.foot{
    margin-left: 0px;
    
}

.bottom{
    background-color:var(--primary-background-color);
    height: 249px;
    width: 1600px;
    display: block;
    margin-top: 0px;
    
    
}

.flogo{
    font-size: 26px;
font-family:'Raleway'  ;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
margin-left: 215px;
margin-right: 93px;

}

.adressf{
    color:var(--white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    

}


.studio{
color: white;

}

.version{

margin: 0px;



}

.footertext{
    color: #E7E9FC;
    margin-left: 215px;
}


.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .group{
    background-color: #F4F4FD;
    height: 600px;
  }
 
.changecolor{
color: var(--primary-background-color);

}

.changecolor:hover{
    color: var(--button-color);

}

.img {
    display: block; 
    max-width: 100%; 
    height: auto;
    }
    

    .lastlogo{

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase


    }